<section id="drawer" role="region">
  <header class="fixed">
      {{#if showSidebar}}
        <a href="#" {{ action 'hideSidebar' }}><span class="icon icon-menu">hide sidebar</span></a>
      {{else}}
        <a href="#" {{ action 'showSidebar' }}><span class="icon icon-menu">show sidebar</span></a>
      {{/if}}
    <h1>{{GLOBAL_APPNAME}} <em>dashboard</em></h1>
  </header>
  <article class="content scrollable header">
    <p>

    <h2>Welcome to <a href="http://www.cryptsy.com">Cryptsy</a> FirefoxOS client</h2>

    <h3>If you need informations about digital coins everywhere you go</h3>
    </p>
    <p>Official <a href="http://www.cryptsy.com" target="_blank">Cryptsy website</a></p>
    <!--<p>From here you can go to {{#link-to 'markets'}}markets list{{/link-to}}</p>-->
    </p>
    <p>
      twitter feeds
    </p>

  </article>
</section>




